{% extends "layout.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 offset-md-3 py-2 py-5">
            <h1 class="title3 text-center">Book lessons</h1>
            <img src="{{ url_for('static', filename='two_people.jpg')}}" class="pt-5 mx-auto body-image img-fluid">
        
            <h4 class="text-center py-5">“Hey, Victoria, I love the blog, I’m in Berlin and I’d LOVE to improve 
                my confidence in English… can you help me?!”</h4>
            
            <p>Good question.</p>
            <p>Short answer: YES! My doors are always open for new students.</p>
            <p>Nowadays I specialise more in Business English. I have many years of 
                experience teaching in many fields including:</p>
                <ul>
                    <li>Networking</li>
                    <li>Sales and marketing</li>
                    <li>Negotiations</li>
                    <li>Recruiting</li>
                    <li>Technology</li>
                </ul>
            
            <p> I am very knowledgeable about different learning techniques which can 
                help you to reach your learning goals quickly and effectively.</p>
            <p>Plus, I can offer my knowledge of Front End development (perfect for you 
                tech companies out there!), as I am currently training to be a web developer 
                (with a focus on Python).</p>
            
            <p class="font-weight-bold">OUR LESSONS:</p>
            <p><strong>HOW:</strong> My lessons are relaxed and full of humour with lots of time for 
                conversation and practical skills. The most important thing for me 
                is that you feel GOOD when you speak English.</p>
            <p><strong>WHERE:</strong> I offer lessons in Mitte and Kreuzberg. On Monday afternoons 
                I am in Prenzlauer Berg. We can meet in a cafe or your office space.</p>
            <p><strong>WHAT:</strong>  A lesson with me includes</p>
                <ul>
                    <li>An individual learning plan</li>
                    <li>All learning materials</li>
                    <li>Grammar and vocabulary training</li>
                    <li>Homework correction</li>
                    <li>Tips on how you can learn better</li>
                    <li>Email support</li>
                </ul>
            <p><strong>WHEN</strong> I teach Monday to Friday, 10am – 6pm, or by arrangement.</p>
            <p>If you are interested in lessons or you have a question, you can send 
            me an email any time. I look forward to hearing from you!</p>
            <p class="pt-2">See you VERY soon,</p>
            <p>Victoria.</p>
        </div>
    </div>
</div>


{% endblock %}